@model MovieHubMVC.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container mt-4">
    <h2>Movie Details</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>

      
        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">@Model.Category?.Name</dd>

        <dt class="col-sm-3">Cinema</dt>
        <dd class="col-sm-9">@Model.Cinema?.Name</dd>

      
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
